<form class="form-horizontal" name="uploadCustomerForm" ng-submit="uploadCustomer(uploadCustomerForm)"
      ng-validate="validationOptions">
    <div class="modal-body" id="new-contact">
        <div class="form-body">
            <div class="alert alert-\{{alertClass}}" ng-if="alertShow"> \{{alertMsg}}</div>
            <div class="form-group form-md-line-input">
                <label class="control-label col-md-3">Upload<span
                        class="required"> * </span></label>
                <div class="col-md-8">
                                     <span class="attachment_btn fileinput-button">
                                         <i class="icon-paper-clip"></i>
                                         <span> \{{myFile.name}}  </span>
                                         <input type="file" name="files[]" file-model="myFile">
                                     </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">Cancel</button>
                <button type="submit" ng-disabled="vm.disabled" class="btn green">Submit</button>
            </div>
        </div>
    </div>
</form>
